* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    width: 95vw;
    height: 100%;
}
/* ----------------------------------------------- main */
main {
    display: flex;
    margin-left: 30vh;
    cursor: default;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-top: 20vh;
}
.red {
    position: absolute;
    z-index: -1;
    background-color: #FF5050;
    margin-top: 10%;
    width: 100%;
    height: 40vh;
}
h1{
    font-size: 50px;
    color: whitesmoke;
    text-decoration: underline 5px #FF5050;
    margin-bottom: 10vh;
}
h2 {
    font-size: 30px;
    text-decoration: underline #FF5050;
    color: whitesmoke;
    margin-bottom: 5vh;
}
/* ------------------------------------------------------ infos plus */
.infosplus {
    display: flex;
    flex-direction: column;
    margin-right: 20vh;
    width: 50%;
    height: 100%;
}
.infos {
    color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.para {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
p {
    margin-bottom: 3vh;
}
/* ----------------------------------------------------- formulaire */
.notsend {
    width: 50%;
}
#formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-group {
    margin-bottom: 5vh;
}
button {
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 5px solid #85ff3900;
    width: 50%;
}
button:hover {
    border: 5px solid #84FF39;
    color: #84FF39;
}
button:active {
    background-color: whitesmoke;
    border: 5px solid #84FF39;
    color: #84FF39;
}
button img {
    width: 5vh;
    height: 5vh;
}
button:hover .send path {
    fill: #84FF39;
}
input, textarea{
    width: 100%;
    cursor: pointer;
    outline: none;
}
#nom {
    border: 5px solid rgba(255, 255, 255, 0);
}
#mail {
    border: 5px solid rgba(255, 255, 255, 0);
}
#msg {
    border: 5px solid rgba(255, 255, 255, 0);
}
footer {
    width: 100%;
    background-color: black;
    height: 10vh;
    position: fixed;
    bottom: 0;
    margin-bottom: 5vh;
}
.icon {
    width: 50%;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}
.icon svg path {
    fill: #FF5050;
}
.icon svg {
    
}
