* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    width: 95vw;
    height: 100%;
    font-family: sans-serif;
}
/* ----------------------------------------------- main */
main {
    display: flex;
    margin-left: 30vh;
    cursor: default;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-top: 7vh;
}
/* ------------------------------------------------ rectangle rouge quasiment au centre */
.red {
    position: absolute;
    z-index: -1;
    background-color: #FF5050;
    bottom: 15%;
    width: 100%;
    height: 35vh;
}
/* --------------------------------------------------- balises H et paragraphe */
h1{
    font-size: 4em;
    color: whitesmoke;
    margin-bottom: 25vh;
}
h2 {
    font-size: 2.5em;
    color: whitesmoke;
    margin-bottom: 2vh;
}
.ligne {
    height: .2vh;
    background-color: #FF5050;
    margin-bottom: 2vh;
    width: 75%;
}
h3 {
    font-size: 3em;
    color: whitesmoke;
}
h4 {
    font-size: 3em;
    color: whitesmoke;
    margin-bottom: 5vh;
}
.para {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
p {
    font-size: 2em;
}
/* ------------------------------------------------------ infos plus */
.infosplus {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.infos {
    color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
/* ----------------------------------------------------- formulaire */
.notsend {
    width: 50%;
}
#formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-group {
    margin-bottom: 3vh;
}
.formp {
    font-size: .4em;
}
/* ---------------------------------------------------------- bouton */
button {
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 5px solid #FF5050;
    width: 50%;
    height: 13%;
}
button:hover {
    border: 5px solid #84FF39;
    color: #84FF39;
}
button:active {
    background-color: whitesmoke;
    border: 5px solid #84FF39;
    color: #84FF39;
}
/* -------------------------------------------------------- icon du button envoie */
.send {
    width: 8vh;
    height: 8vh;
}
button:hover .send path {
    fill: #84FF39;
}
/* -------------------------------------------------------------- input */
input, textarea{
    height: 4vh;
    width: 75%;
    cursor: pointer;
    outline: none;
    font-size: .5em;
}
input::placeholder, textarea::placeholder {
    font-size: 1.5rem;
}
#nom {
    border: 5px solid rgba(255, 255, 255, 0);
    text-transform: capitalize;
}
#mail {
    border: 5px solid rgba(255, 255, 255, 0);
}
#msg {
    border: 5px solid rgba(255, 255, 255, 0);
    height: 24vh;
    font-size: .5em;
}
/* --------------------------------------------------------- footer */
footer {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
}
.icon {
    width: 50%;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    margin-bottom: 5vh;
}
.icon svg path {
    fill: #FF5050;
}
.icon svg {
    width: 7vh;
    height: 7vh;
}
/* ------------------------------------------------ media telephone */
@media screen and (min-width: 240px) and (max-width: 414px){
    body {
        width: 53vh;
    }
    main {
        width: 100%;
        margin: 3vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 0vh;
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    .ligne {
        width: 90%;
    }
    h3 {
        font-size: .5em;
    }
    h4 {
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 1vh;
    }
    .para {
        width: 100%;
        margin: 0;
    }
    p {
        font-size: 1em;
    }
    .formp {
        font-size: 2em;
    }
    .infosplus {
        width: 100%;
        margin-bottom: 2vh;
    }
    .red {
        bottom: 13%;
        height: 20vh;
    }
    .infos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .notsend {
        width: 100%;
        margin: 0;
    }
    input, textarea {
        width: 90%;
        height: 3vh;
    }
    input::placeholder, textarea::placeholder {
        font-size: 1em;
    }
    #msg {
        height: 10vh;
        margin: 0;
    }
    button {
        margin: 0;
        font-size: 1em;
    }
    .send {
        width: 5vh;
        height: 5vh;
    }
    .icon {
        width: 100%;
    }
}
/* ------------------------------------------------ media telephone */
@media screen and (min-width: 414px) and (max-width: 525px){
    body {
        width: 45vh;
    }
    main {
        width: 100%;
        margin: 3vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 0vh;
        font-size: 1.8em;
        width: 90%;
    }
    h2 {
        font-size: 1.5em;
    }
    .ligne {
        width: 90%;
    }
    h3 {
        font-size: .5em;
    }
    h4 {
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 1vh;
    }
    .para {
        width: 100%;
        margin: 0;
    }
    p {
        font-size: 1em;
    }
    .formp {
        font-size: 2em;
    }
    .infosplus {
        width: 90%;
        margin-bottom: 2vh;
    }
    .red {
        bottom: 13%;
        height: 20vh;
    }
    .infos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .notsend {
        width: 100%;
        margin: 0;
    }
    input, textarea {
        width: 90%;
        height: 5vh;
    }
    input::placeholder, textarea::placeholder {
        font-size: 1.2em;
    }
    #msg {
        height: 10vh;
        margin: 0;
    }
    button {
        margin: 0;
        font-size: 1em;
    }
    .send {
        width: 5vh;
        height: 5vh;
    }
    .icon {
        width: 100%;
    }
}
/* ------------------------------------------------ media tablette */
@media screen and (min-width: 530px) and (max-width: 655px){
    body {
        width: 55vh;
    }
    main {
        width: 100%;
        margin: 3vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 0vh;
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    .ligne {
        width: 90%;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        width: 100%;
        font-size: 2.5em;
        margin-bottom: 1vh;
    }
    .para {
        width: 100%;
        margin: 0;
    }
    p {
        font-size: 2em;
    }
    .formp {
        font-size: 1.5em;
    }
    .infosplus {
        width: 100%;
        margin-bottom: 2vh;
    }
    .red {
        bottom: 13%;
        height: 20vh;
    }
    .infos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .notsend {
        width: 100%;
        margin: 0;
    }
    input, textarea {
        width: 90%;
        height: 5vh;
    }
    input::placeholder, textarea::placeholder {
        font-size: 2em;
    }
    #msg {
        height: 15vh;
        margin: 0;
    }
    button {
        margin: 0;
        font-size: 2.5em;
    }
    .send {
        width: 6vh;
        height: 6vh;
    }
    .icon {
        width: 100%;
    }
}
/* ------------------------------------------------ media tablette */
@media screen and (min-width: 650px) and (max-width: 956px){
    body {
        width: 70vh;
    }
    main {
        width: 100%;
        margin: 3vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 0vh;
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    .ligne {
        width: 90%;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        width: 100%;
        font-size: 2.5em;
        margin-bottom: 1vh;
    }
    .para {
        width: 100%;
        margin: 0;
    }
    p {
        font-size: 2em;
    }
    .formp {
        font-size: 1.5em;
    }
    .infosplus {
        width: 100%;
        margin-bottom: 2vh;
    }
    .red {
        bottom: 13%;
        height: 20vh;
    }
    .infos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .notsend {
        width: 100%;
        margin: 0;
    }
    input, textarea {
        width: 90%;
        height: 5vh;
    }
    input::placeholder, textarea::placeholder {
        font-size: 2em;
    }
    #msg {
        height: 15vh;
        margin: 0;
    }
    button {
        margin: 0;
        font-size: 2.5em;
    }
    .send {
        width: 6vh;
        height: 6vh;
    }
    .icon {
        width: 100%;
    }
}
/* ------------------------------------------------ media tablette */
@media screen and (min-height: 1366px) and (max-height: 2565px){
    body {
        width: 55vh;
    }
    main {
        width: 100%;
        margin: 3vh;
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-bottom: 0vh;
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    .ligne {
        width: 90%;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        width: 100%;
        font-size: 2.5em;
        margin-bottom: 1vh;
    }
    .para {
        width: 100%;
        margin: 0;
    }
    p {
        font-size: 2em;
    }
    .formp {
        font-size: 1.5em;
    }
    .infosplus {
        width: 90%;
        margin-bottom: 2vh;
    }
    .red {
        bottom: 13%;
        height: 20vh;
    }
    .infos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .notsend {
        width: 100%;
        margin: 0;
    }
    input, textarea {
        width: 90%;
        height: 5vh;
    }
    input::placeholder, textarea::placeholder {
        font-size: 2em;
    }
    #msg {
        height: 15vh;
        margin: 0;
    }
    button {
        margin: 0;
        font-size: 2.5em;
    }
    .send {
        width: 6vh;
        height: 6vh;
    }
    .icon {
        width: 100%;
    }
}